*, *::before, *::after {
    box-sizing: border-box;

}

body {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 206, 66);
    background-image: url("images.jpeg/usa_3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container {
    width: 750px;
    height: 500px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 20px 20px;
    background-image: url("images.jpeg/mt_rush.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* all buttons */
.btn {
    background-color: rgb(163, 44, 44);
    
    border-radius: 5px;
    padding: 20px 10px;
    color: white;
    outline: none;
    font-size: 1.25rem;
    box-shadow: 10px 15px 22px white;
    
}
.btn:hover {
    border-color: black;
    transform: scale(1.10);
}


.timer {
    position: fixed;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 1.2rem;
}

/* Welcome header */
h1, h2 {
    color: rgb(212, 214, 216);
    font-family: 'Press Start 2P', cursive;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-shadow: 2px 2px 8px rgb(197, 61, 61);
    font-size: 2.5rem;

}
/* high score button */
#high {
    color: white;
    padding: 20px;
    position: fixed;
    top: 10px;
    left: 20px;
    border-radius: 5px;
    background-color:  rgb(163, 44, 44);
    box-shadow: 0 0 40px 10px;
}
#high:hover {
    color:red;
    transform: scale(1.10);
}
/* statr button */
#start {
    margin-left: 45%;
    margin-top: 10%;
}
/* all answer buttons */
#answers {
    text-align: center;
    margin-top: 20%;
}

#score-btn {
    color: white;
    padding: 20px;
    position: fixed;
    top: 80px;
    left: 20px;
    border-radius: 5px;
    background-color:  rgb(163, 44, 44);
    box-shadow: 0 0 40px 10px;
}

#submit {
    padding: 20px;
    color: white;
    font-size: 1rem;
    background-color:rgb(163, 44, 44);
    border-radius: 5px;
    margin-left: 1%;
}
#final {
    width: 200px;
    height: 50px;
    font-size: 1.2rem;

}